body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #74ebd5, #acb6e5);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
}

input {
  padding: 10px;
  border-radius: 8px;
  border: none;
  margin-right: 10px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background-color: #0077ff;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #005ccc;
}



.card {
  margin-top: 20px;
}

.wrapper {
  /* display: flex; */
  align-items: left;
  gap: 20px;
}

